@import "tailwindcss";

:root {
  --background: #1C1B1A;
  --foreground: #FDFAF7;
  --secondary: #FF6702;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --font-jubble: var(--font-jubble);
  --font-ztnature: var(--font-ztnature);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ztnature), Helvetica, sans-serif;
}

@layer components {
  .btn-primary {
    border-radius: 50px;
    padding: 12px 25px;
    color: var(--foreground);
    transition: all ease-in-out .3s;
    border: 1px solid var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }

  .btn-primary * {
    color: var(--foreground);
    transition: all ease-in-out .3s;
  }

  .btn-primary::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--secondary);
    transition: .5s ease;
    display: block;
    z-index: -1;
  }

  .btn-primary:hover::before {
    width: 100%;
  }

  .btn-primary:hover {
    color: var(--background);
  }

  .btn-primary:hover * {
    color: var(--background);
  }
}